@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root
{
    --Dark-blue-100: #609ed4;
    --Dark-blue-200: #356ea9;
    --Dark-blue-300: #0a3871;
    --Dark-blue-400: #072b61;
    --Dark-blue-500: #052051;

    --Light-blue-100: #f3f5fc;
    --Light-blue-200: #eff1fa;
    --Light-blue-300: #e9ecf8;
    --Light-blue-400: #aab2d5;
    --Light-blue-500: #757fb2;

    --Gray-100: #ced4da;
    --Gray-200: #adb5bd;
    --Gray-300: #868e96;
    --Gray-400: #495057;
    --Gray-500: #343a40;
}

.hidden
{
    display: none !important;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    background-color: var(--Light-blue-100);
    font-family: 'Inter', sans-serif;
    max-width: 1920px;
    margin: auto;
}

body
{   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    
    min-height: 100vh;
    min-width: 100%;
    padding: 40px;
}

button
{
    font-family: 'Inter', sans-serif;
    border-radius: 1.5em;
    font-size: 16px;
    cursor: pointer;
    padding: 1.5em;
    border: none;
}

/* ----- ----- Buttons styles ----- ----- */

.button-criptografar
{
    background-color: var(--Dark-blue-300);
    color: white;
}

.button-descriptografar
{
    background-color: transparent;
    border: 1px solid var(--Dark-blue-300);
    color: var(--Dark-blue-300);
} 

.button-copiar 
{
    border: 1px solid var(--Dark-blue-300);
    color: var(--Dark-blue-300);
    background-color: white;
    width: 100%;
} 

.button-descriptografar:disabled
{
    background-color: #D8DFE8;
    cursor: not-allowed;
}

/*  ----- ----- Buttons Hover  ----- -----  */
.button-criptografar:hover      { background-color: var(--Dark-blue-400); }
.button-descriptografar:hover   { background-color: #0001; }
.button-copiar:hover            { background-color: #f1f1f1; }

/* ----- ----- Logo ----- ----- */

.logo-container
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    width: 120px;
    height: 48px;
}

/* ----- ----- Main Form ----- ----- */

main
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 1080px;
    padding-top: 100px;
    flex: 1;
}

.main-container
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-self: stretch;
    height: 100%;
}

.main-textarea::placeholder
{
    color: var(--Dark-blue-300);
}

.main-textarea
{
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    color: var(--Dark-blue-300);
    text-transform: lowercase;

    border-radius: 32px;
    line-height: 1.5;
    font-size: 32px;
    padding: 1em 0;
    width: 100%;
    flex: 1;
    
    outline: none;
    resize: none;
    border: none;
}

.main-p-info
{
    display: flex;
    align-items: center;
    text-wrap: balance;
    margin-top: 4em;
    gap: .5em;
}

.main-buttons-div
{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0 2em 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.main-buttons-div button
{
    min-width: 260px;
    flex: 1;
}

/* ----- ----- Aside ----- ----- */

aside
{
    align-self: stretch; /* preenche a altura em relação ao display de origem */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: white;
    border-radius: 2em;
    max-height: 1000px;
    max-width: 400px;
    padding: 2em;
    gap: 3.5em;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

/* ----- ----- Aside Home ----- ----- */

#aside-home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5em;
}

#aside-home img
{
    max-width: 100%;
}

.aside-home-message
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#aside-home h2
{
    color: var(--Gray-500);
    line-height: 1.2;
    font-size: 24px;
}

#aside-home p
{
    color: var(--Gray-400);
    text-wrap: balance;
    line-height: 1.5;
}

/* ----- ----- Aside Result ----- ----- */

#aside-result
{
    display: flex;
    flex-direction: column;
    gap: 2em;
    
    justify-content: space-between;
    align-self: stretch;
    height: 100%;
}

#aside-result textarea
{    
    font-family: 'Inter', sans-serif;
    text-transform: lowercase;
    color: var(--Gray-400);
    line-height: 1.5;
    font-size: 24px;
    max-width: 100%;

    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
}

@media screen and (max-width: 1400px) 
{
    body
    {
        gap: 2em 1em;
    }

    header
    {
        position: absolute;
        left: 40px;
        top: 40px;
    }
    
    .logo-container
    {
        width: 100%;
    }

    .main-textarea
    {
        font-size: 24px;
    }
}

@media screen and (max-width: 840px) 
{
    header
    {
        position: absolute;
        left: 1em;
        top: 1em;
    }

    body
    {
        padding: 1em;
        gap: 2em;
    }

    .main-container
    {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .main-textarea
    {
        font-size: 24px;
    }
    
    aside
    {
        min-height: none;
        min-width: 100%;
    }

    #aside-home img
    {
        display: none;
    }
}

/* -----  ----- ScrollBar -----  ----- */

::-webkit-scrollbar 
{
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track 
{
    background: var(--Light-blue-200);
}
   
::-webkit-scrollbar-thumb 
{
    background: var(--Gray-500); 
    box-sizing: border-box;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover 
{
    background: var(--Gray-400); 
}